deepeval
docx2txt
fastapi
langchain_aws
langchain_chroma
langchain_community
langchain_text_splitters
msal
pandas
passlib
pydantic
PyPDF2
python-dotenv
python_jose
python_pptx
rank_bm25
requests
sqlalchemy
torch
transformers
uvicorn
