bcrypt==3.2.2
docx2txt
deepeval
fastapi
langchain-aws
langchain-chroma
langchain-community
langchain-text-splitters
msal
pandas
passlib[bcrypt]==1.7.4
psycopg2-binary
PyPDF2
python-dotenv
python-jose
python-multipart
python-pptx
rank-bm25
requests
sqlalchemy
torch --index-url https://download.pytorch.org/whl/cpu
transformers
uvicorn
